#title {
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
}

#title:hover {
    color:aqua;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration:#ffffff;
}

#navbarSupportedContent {
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
}

img#home_pics.img-fluid {
    max-height: 640px;
    display: block;
    margin: auto;
  }

h1 {
    padding-top: 2rem;
    margin-left: 25px;
}

#cat_main {
    color: #333131; 
    text-decoration: none;
    background: transparent;
}

#cat_main:hover {
    color:aqua;
}

#main_nav {
    background-color: hsl(317, 43%, 75%);
    background: linear-gradient(to bottom, #bf8fb1 0%, #a67b99 100%);
    border-radius: 6px;
}

#captions {
    background-color: rgba(0,0,0,.5);
    color: #fff;
    margin: auto;
}

#blank_form {
    max-width: 835px;
}

#add_container {
    margin-left: 25px;
    background-color: #8d8d8d;
}

#post_body_add {
    max-width: 835px;
}

#snippet_add {
    max-width: 835px;
}

p {
    max-width: 835px;
}

label {
    margin-bottom: 1rem;
}

#cat_button {
    margin-left: 25px;
}

#post_add {
    color: #333131; 
    text-decoration: none;
}

#post_add:hover {
    color:aqua;
}

#user_edit {
    color: #333131; 
    text-decoration: none;
}

#user_edit:hover {
    color:aqua;
}

#user_edit_set {
    text-decoration: none;
    background-color: hsl(317, 43%, 75%);
}

#user_edit_set:hover {
    color:aqua;
}

#new_user_items {
    color: #333131; 
    text-decoration: none;
    background: transparent;
}

#new_user_items:hover {
    color:aqua;
}

#post_title {
    color: #333131; 
    text-decoration: none;
    background: transparent;
}

#post_title:hover {
    color:aqua;
}

#login_entry {
    width: 10%;
    margin-left: 25px;
}

#login_pass {
    width: 10%;
    margin-left: 25px;
}

#login_button {
    margin-left: 25px;
}

#login_text {
    margin-left: 25px;
}