#title {
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
}

body {
    background-color: #8d8d8d;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color:#8d8d8d;
}

#navbarSupportedContent {
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
}

img#home_pics.img-fluid {
    max-height: 640px;
    display: block;
    margin: auto;
  }

h1 {
    padding-top: 2rem;
}

#cat_main {
    color: #333131; 
    text-decoration: none;
}

#main_nav {
    background-color: hsl(317, 43%, 75%);
    background: linear-gradient(to bottom, #bf8fb1 0%, #a67b99 100%);
    border-radius: 6px;
}