{% extends 'base.html' %}
{% block title %}Add New Blog Category
{% endblock %}
{% block content %}

{% if user.is_authenticated %}
<h1>Add Category</h1>
<br/>
<br/>
<div class="mb-3">
    <form method="POST">
        {% csrf_token %}
        <!--as_p = html element of <p> for paragraph. can also use as_ul or as_table-->
        {{ form.as_p }}
        <button class="btn btn-secondary" id="main_button_style">Add New Category</button>
    </form>
</div>
{% else %}

You are not allowed to add categories without creating an account first! (Please hit Register or Login button above)

{% endif %}

{% endblock %}