<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--fontawesome included for icon usage-->
    <script src="https://kit.fontawesome.com/f30ca1207d.js" crossorigin="anonymous"></script>
    <!--my own stylesheet-->
    <link rel="stylesheet" type="text/css" href="{% static 'mysite/style.css' %}"/>
    <title>
        {% block title %}
            Jessica's Tech Blog
        {% endblock %}
    </title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg" id="main_nav">
      <div class="container-fluid">
          <a class="navbar-brand" id="title" href="{% url 'home' %}">Jessica's Tech Blog</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <!--Category Menu Code-->
              {% if cat_menu %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="cat_main" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Categories
                </a>
                <ul class="dropdown-menu" style="background-color: hsl(317, 43%, 75%);">
                  {% for item in cat_menu %}
                  <li><a class="dropdown-item" href="{% url 'category' item|slugify %}" id="cat_main" style="background-color: hsl(317, 43%, 75%);">{{ item }}</a></li>
                  {% endfor %}
                </ul>
              </li>
              {% else %}
              <li class="nav-item" id="cat_main" style="background-color: hsl(317, 43%, 75%);">
                <a class="nav-link" id="cat_main" href="{% url 'category-list' %}">Categories</a>
              </li>
              {% endif %}
              {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'add_post' %}" style="color: #333131; text-decoration: none;">Add Post</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'register' %}" style="color: #333131; text-decoration: none;">Register</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}" style="color: #333131; text-decoration: none;">Login</a>
                </li>
              {% endif %}
            </ul>
            {% if user.is_authenticated %}
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #333131; text-decoration: none;">
                      {{ user.first_name }}
                      {{ user.last_name }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" style="background-color: hsl(317, 43%, 75%); color: #333131; text-decoration: none;">
                      <li><a class="dropdown-item" href="{% url 'edit_profile' %}" style="color: #333131; text-decoration: none;">Edit Settings</a></li>
                      {% if user.profile.id %}
                        <li><a class="dropdown-item" href="{% url 'edit_profile_page' user.profile.id %}" style="color: #333131; text-decoration: none;">Edit Profile Page</a></li>
                        <li><a class="dropdown-item" href="{% url 'show_profile_page' user.profile.id %}" style="color: #333131; text-decoration: none;">Show Profile Page</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}" style="color: #333131; text-decoration: none;">Logout</a></li>
                      {% else %}
                      <li><a class="dropdown-item" href="{% url 'create_profile_page' %}" style="color: #333131; text-decoration: none;">Create Profile Page</a></li>
                      {% endif %}
                    </ul>
                  </li>
                </ul>
            {% endif %}
          </div>
      </div>
      </nav>
    <br/>
        {% block content %}

        {% endblock %}
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

  </body>
</html>