{% extends 'base.html' %}
{% block title %}Create a New Profile Page
{% endblock %}
{% block content %}

{% if user.is_authenticated %}
    <h1>Create Profile Page</h1>
    <br/>
    <br/>
    <div class="mb-3">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <!--as_p = html element of <p> for paragraph. can also use as_ul or as_table-->
            {{ form.as_p }}
            <button class="btn btn-secondary">Create Profile Page</button>
        </form>
    </div>

{% else %}

You are not allowed to edit posts without creating an account first! (Please hit Register or Login button above)

{% endif %}

{% endblock %}