{% extends 'base.html' %}
{% block title %}Login
{% endblock %}
{% block content %}

<h1>Login</h1>
<br/>
<br/>
<div class="mb-3">
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control" id="login_entry" name="username" placeholder="Username">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="login_pass" name="password" placeholder="Password">
        </div>
    </br>
        <button class="btn btn-secondary" id="login_button">Login</button>
    </form>
</div>
</br>
<div id="login_text">Not Registered? Sign up 
    <a href="{% url 'register' %}">here.</a>
</div>

{% endblock %}